{% extends "layout.html" %}

{% block content %}



<div class="row">
    <img class="contain" src={{ img_tichonet }} alt='Missing'>
</div>
<div class="row">

</div>
<div class="row">
    <div class="col-md-4">
        <h2 class="heb"></h2>
        <p class="heb">

        </p>
    </div>
    <div class="col-md-8">
        <h2 class="heb">about the project</h2>
        <p class="heb">
            the project was created as the final project in data science for 10th graders, 2020 in school "tichonet" in tel aviv
        </p>
        <p class="heb">
            <br /><br />
            the project contains two main majure disciplines
            <br /><br />
            * internet programming
            <br />
            * Data science
            <br /><br />
            In the project I found data sources and made them easier to the users to see and browse, The site will make it easier to the user to investigate the data source, and understand it better.
            <br /><br />
            The project will be established upon the next technological components:
            <br /><br />
            * python
            <br />
            * pandas
            <br />
            * Flask
        </p>
    </div>
</div>

{% endblock %}
